<!-- всё это подставляется в шаблон _Layout в RenderBody() через ViewStart -->

<h1 class="test" >Все продукты</h1>
<h3>@Model.currCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (Product product in Model.AllProducts)
        {
            @Html.Partial("AllProducts", product)
        }
    }
</div>

