<!-- всё это подставляется в шаблон _Layout в RenderBody() через ViewStart -->

<h1>Все продукты</h1>
<h3>@Model.currCategory</h3>
@{
    foreach (var product in Model.AllProducts)
    {
        <div>
            <h2>Наименование: @product.Name</h2>
            <p>цена: @product.Price.ToString("c")</p>
            <p>@product.ShortDesc</p>
        </div>
    }
}

