@using Shop_1.Data.Models
@model IEnumerable<Product>
@{
    ViewData["Title"] = "List";
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />

    </head>
    <body>
        <h1>Все продукты</h1>
    @{
        foreach (var product in Model)
        {
            <div>
                <h2>Наименование: @product.Name</h2>
                <p>цена: @product.Price.ToString("c")</p>
            </div>
        }
        }
    </body>
</html>


